.polls {
    padding: 20px;
    background-color: #f4f4f4;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.polls h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.poll-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto; 
}