.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.signup-form {
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
}

.signup-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.signup-form button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.signup-form button:hover {
    background-color: #0056b3;
}

@media (max-width: 375px) {
    .login-form, .signup-form {
        padding: 15px;
    }

    .login-form input, .signup-form input {
        padding: 8px;
        font-size: 14px;
    }

    .login-form button, .signup-form button {
        padding: 8px;
        font-size: 14px;
    }
}
