.LoginPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f4f4f4;
}

.LoginPage h1 {
    margin:30px;
    font-size: 24px;
    margin-bottom: 20px;
}

.LoginPage form {
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 380px;
    display: flex;
    flex-direction: column;
}

.LoginPage form label {
    display: block;
    margin-bottom: 5px;
}

.LoginPage form input {
    width: auto;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.LoginPage form button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.LoginPage .error-message {
    color: red;
    margin-top: 10px;
}

@media (max-width: 375px) {
    .LoginPage form {
        width:90%;
        padding: 15px;
    }

    .LoginPage form input, 
    .LoginPage form button {
        padding: 8px;
        font-size: 14px;
    }
}
