.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-image {
    max-width: 400px;  
    margin: 0 auto;
}

.homepage-footer {
    position: sticky;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    text-align: center;
}

@media (max-width: 375px) {
    .homepage-main h2 {
        font-size: 24px;
    }

    .homepage-main p {
        text-align: center;
        padding: 0 15px;
    }
}
