.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.homepage-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background-color: #333;
    color: white;
}

.cta-buttons {
    display: flex;
    gap: 10px;
}

.cta-signup, .cta-login {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-signup {
    background-color: #4CAF50;
    color: white;
}

.cta-login {
    background-color: white;
    color: #333;
}

.cta-signup:hover {
    background-color: #45a049;
}

.cta-login:hover {
    background-color: #ddd;
}

.homepage-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.homepage-footer {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    text-align: center;
}

@media (max-width: 375px) { /* Adjust this value based on your design's breakpoint */
    .homepage-header {
        flex-direction: column;
        align-items: center;
    }

    .cta-buttons {
        margin-top: 10px;
    }

    .homepage-main h2 {
        font-size: 24px; /* Decrease headline size for mobile */
    }

    .homepage-main p {
        text-align: center;
        padding: 0 15px; /* Give some padding to the sides for better readability */
    }

    
}